
body {
    font-family:'Open Sans', sans-serif;
}


.h1 {
    font-family: 'Gabarito',sans-serif;
}

.h2{
    font-family: 'Gabarito',sans-serif;
}

.h3{
    font-family: 'Gabarito', sans-serif;
}

.general {
    position: relative;
    height: 300px;
    background-image: url('images/imgs_ecologie/image2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.texte {
    font-size: 3em;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}


.content-section {
    max-width: 1900px;
    margin: 0 auto;
}


.content {
    display: flex;
    margin: 2em 0;
    align-items: center;
    background-color: #005386;
}

.content img {
    max-height: 420px;
    max-width: 45%;
    height: auto;
    object-fit: cover;
}

.content-text {
    flex: 1;
    padding: 3em; 
    margin-top: -120px;
    color: #f0f0f0;
}

.content-text h2 {
    font-size: 24px;
    margin-top: 0;
}

.content-text ul {
    padding-left: 1.5em;
}

.content-reverse {
    flex-direction: row-reverse;
}
.point {
    color: #0077ff;
    font-size: 100%;
}
.lien_page {
    color: #0077ff;
    font-style:initial;
    font-size: 120%;
    font-style:italic
}

.carte_footer{
    margin: 0 20px ;
    text-align: left;
    margin-right: 40px;
    margin-top: -200px;
    
}



@media (max-width: 760px) {
    .content {
        flex-direction: column;
    }

    .content img {
        max-width: 100%;
    }
    .content-reverse {
        flex-direction: row-reverse;
    }

}


.margin_page {
    padding-top: 20px; 
    width: 140%;
}


footer {
    background-color: #f0f0f0;
    color: #005386; 
    padding: 2em 1em;
}

.infos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.elem_infos {
    max-width: 300px;
    
}

.elem_infos b {
    display: block;
    margin-bottom: 0.5em;
    color: #005386; 
}

.elem_infos, .elem_infos a {
    color: #005386; 
    text-decoration: none;
}

.elem_infos img {
    max-width: 60%;
    height: auto;
    margin-top: 1em;
}

.creation_page {
    text-align: center;
    margin-top: 1em;
    font-style: italic;
    color: #005386; 
}

