/* Styles généraux */
body {
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    line-height: 1.6;
}

/* Style de la section héro */
.hero {
    position: relative;
    height: 300px;
    background-image: url('images/imgs_ecologie/image2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content text p{
    margin-left: 450px;   /*a modifier */
}

.hero-text {
    font-size: 2.5em;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    margin: 0;
}

/* Style de la section de contenu */
.content-section {
    max-width: 1900px;
    margin: 0 auto;
    padding: 1em; /* Réduction du padding pour réduire les bordures blanches */
}

/* Style des éléments de contenu */
.content {
    display: flex;
    margin: 1em 0; /* Réduction de la marge pour réduire les bordures blanches */
    align-items: center;
    background-color: #005386;
    border-radius: 8px;
    overflow: hidden;
}

.content img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.content-text {
    flex: 1;
    padding: 2.5em; /* Réduction du padding pour réduire l'espace interne */
    color: #f0f0f0;
}

.content-text h2 {
    font-size: 1.8em;
    margin-top: 0;
}

.content-text ul {
    padding-left: 1.5em;
}

/* Inversion de l'ordre des éléments pour les contenus pairs */
.content:nth-child(even) {
    flex-direction: row-reverse;
}
.point {
    color: #0077ff;
    font-size: 100%;
}
.lien_page {
    color: #0077ff;
    font-style:initial;
    font-size: 120%;
    font-style:italic
}

/* Styles responsifs pour les petits écrans */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .content img {
        max-width: 100%;
    }

    .content:nth-child(even) {
        flex-direction: column;
    }
}

/* Espace entre les sections de contenu */
.margin_page {
    padding-top: 20px; /* Réduction du padding pour réduire l'espace */
    width: 140%;
}

/* Styles du pied de page */
footer {
    background-color: #f0f0f0;
    color: #005386; /* Assurez-vous que cette couleur contraste bien avec le fond */
    padding: 2em 1em;
}

.infos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.elem_infos {
    max-width: 300px;
    
}

.elem_infos b {
    display: block;
    margin-bottom: 0.5em;
    color: #005386; /* Assurez-vous que le texte en gras est bien visible */
}

.elem_infos, .elem_infos a {
    color: #005386; /* Changez cette couleur pour assurer la visibilité du texte */
    text-decoration: none;
}

.elem_infos img {
    max-width: 60%;
    height: auto;
    margin-top: 1em;
}

.creation_page {
    text-align: center;
    margin-top: 1em;
    font-style: italic;
    color: #005386; /* Assurez-vous que ce texte est également visible */
}
