body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.first {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/economie/illustration_eco.jpeg);
    border-bottom: 1px black solid;
}
.first-text {
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em;
}
.content {
    display: flex;
    height: 500px;
}
.content img {
    width: 60%;
    background-color: #ccc;
    padding: 0;
}
.content-text {
    width: 40%;
    padding: 2em;
    flex: 1;
    background-color: #005386;
    color: #f0f0f0;
}
p {
    padding: 1em;
    font-size: large;
    font-family: "Open Sans", sans-serif;
}
.content:nth-child(even) {
    flex-direction: row-reverse;
}

.margin_page {
    padding-top: 40px;
    width: 100%;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
}

h2 {
    font-family: "Gabarito", sans-serif;
}

@media (min-width: 900px ) {
    .presentation_valeurs {
        background-color: #005386;
        color: #f0f0f0;
        padding-top: 30px;
        padding-bottom: 18px;
        width: 100%;
        text-align: center;
        font-size: 260%;
        font-weight: bold;
    }
    
    .tab_valeurs {
        background-color: #005386;
        height: 148px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
    
    .case_valeur {
        color: #f0f0f0;
        padding-top: 22px;
        height: 180px;
        width: 400px;
        text-align: center;
        font-size: 200%;
    }

    .texte_presentation_main {
        width: 40%;
        padding: 1%;
        color: #f0f0f0;
        font-size: 260%;
    }

    .texte_presentation {
        width: 50%;
        padding: 1%;
        color: #f0f0f0;
        font-size: 260%;
    }

    .page_img {
        width: 50%;
        object-fit: cover;
    }
}

@media (max-width: 899px ) {
    .presentation_valeurs {
        background-color: #005386;
        color: #f0f0f0;
        padding-top: 15px;
        padding-bottom: 9px;
        width: 100%;
        text-align: center;
        font-size: 190%;
        font-weight: bold;
    }

    .tab_valeurs {
        background-color: #005386;
        height: 148px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .case_valeur {
        color: #f0f0f0;
        height: 180px;
        width: 400px;
        text-align: center;
        font-size: 130%;
        padding: 2%;
    }

    .texte_presentation_main {
        padding: 1%;
        color: #f0f0f0;
        font-size: 190%;
    }

    .texte_presentation {
        padding: 1%;
        color: #f0f0f0;
        font-size: 190%;
    }

    .page_img {
        width: 100%;
        object-fit: cover;
    }
}
