* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

header {
    background-color: #888888;
    border: 1px solid #242424;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    border: 1px solid #242424;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 800px ) {
    main {
        padding: 20px 20px;
    }
    .nav-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    #icon {
        height: 30px;
        width: auto;
    }
    #icon:hover{
        scale: 1.225;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        flex: 1;
        align-items: center;
    }
    .elem-list {
        flex-basis: 16%;
        text-align: center;
    }
    .links {
        text-decoration: none;
        color: #dadada;
        font-weight: bold;
        transition: color 0.25s;
    }
    .links:hover{
        color:#005386; 
        font-size-adjust: 0.7;
    }
    .active-page{
        text-decoration: underline;
    }
    .infos{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        padding: 10px;
    }

}

@media (max-width: 799px ) {
    main {
        padding: 5px 5px 5px 5px;
    }
    .nav-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    #icon {
        height: 30px;
        width: auto;
    }
    .list {
        list-style: none;
    }
    .elem-list {
        flex-basis: 20%;
        text-align: center;
        margin: 5px;
    }
    .elem-list:hover {
        transform: scale(1.175);
    }
    .links {
        text-decoration: none;
        color: #dadada;
        font-weight: bold;
        transition: color 0.25s;
    }
    .links:hover{
        color:#005386; 
    }
    .active-page{
        text-decoration: underline;
    }
    .infos{
        list-style: none;
        justify-content: space-between;
        padding: 0px;
    }
    .elem_infos{
        margin: 20px;
    }
}    
