body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.presentation {
    background-color: #005386;
    height: 620px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-size-adjust: auto;
    font-family: Tahoma ;
}

@media (min-width: 800px ) {
    .texte_presentation {
        height: 620px;
        width: 40%;
        padding-top: 1%;
        padding-left: 1.2%;
        padding-bottom: 1%;
        color: #f0f0f0;
        font-size: 260%;
    }
}

@media (max-width: 799px ) {
    .texte_presentation {
        padding-top: 1%;
        padding-left: 1.2%;
        padding-bottom: 1%;
        color: #f0f0f0;
        font-size: 190%;
    }
}
