body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Tahoma, sans-serif;
}

.presentation {
    background-color: #005386;
    height: 620px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page {
    background-color: #005386;
    height: 620px;
    width: 100%;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lien_page {
    color: #0077ff;
    font-style:initial;
    font-size: 70%;
    font-style:italic
}

.point {
    color: #0077ff;
    font-size: 70%;
}

.margin_page {
    padding-top: 35px;
    width: 100%;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
}

@media (min-width: 900px ) {
    .presentation_valeurs {
        background-color: #005386;
        color: #f0f0f0;
        padding-top: 30px;
        padding-bottom: 18px;
        width: 100%;
        text-align: center;
        font-size: 260%;
        font-weight: bold;
    }
    
    .tab_valeurs {
        background-color: #005386;
        height: 148px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
    
    .case_valeur {
        color: #f0f0f0;
        padding-top: 22px;
        height: 180px;
        width: 400px;
        text-align: center;
        font-size: 200%;
    }

    .texte_presentation {
        width: 40%;
        padding: 1%;
        color: #f0f0f0;
        font-size: 260%;
    }
    .page_img {
        width: 60%;
        object-fit: cover;
    }
}

@media (max-width: 899px ) {
    .presentation_valeurs {
        background-color: #005386;
        color: #f0f0f0;
        padding-top: 15px;
        padding-bottom: 9px;
        width: 100%;
        text-align: center;
        font-size: 190%;
        font-weight: bold;
    }

    .tab_valeurs {
        background-color: #005386;
        height: 148px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .case_valeur {
        color: #f0f0f0;
        height: 180px;
        width: 400px;
        text-align: center;
        font-size: 130%;
        padding: 2%;
    }

    .texte_presentation {
        padding: 1%;
        color: #f0f0f0;
        font-size: 190%;
    }
    .page_img {
        width: 100%;
        object-fit: cover;
    }
}
