body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Tahoma, sans-serif;
}

.presentation {
    background-color: #005386;
    height: 620px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 800px ) {
    .texte_presentation {
        width: 40%;
        padding: 1%;
        color: #f0f0f0;
        font-size: 260%;
    }
}

@media (max-width: 799px ) {
    .texte_presentation {
        padding: 1%;
        color: #f0f0f0;
        font-size: 190%;
    }
}
